<li>
	{{name}}
	<button class="change-devoured btn btn-primary btn-sm" data-id="{{id}}" data-neweaten="{{devoured}}">
		{{#if devoured}}EAT!{{else}}UNEAT!{{/if}}
	</button>

	<button class="delete-burger btn btn-danger btn-sm" data-id="{{this.id}}">DELETE!</button>
</li>
